<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644909130246-i6c56bndj5mtocfa7okqketkkajd53le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644909130246-i6c56bndj5mtocfa7okqketkkajd53le</string>
	<key>API_KEY</key>
	<string>AIzaSyCbmhfKRXcYxyQBo8nn7X3WlzE6ByJavps</string>
	<key>GCM_SENDER_ID</key>
	<string>644909130246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myorganization.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>finalproject-d6581</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-d6581.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644909130246:ios:35972650afeac86be39987</string>
</dict>
</plist>